{% extends "base.html" %} {% include "./includes/navbar.html" %} {% block
content %}

<div class="mx-auto max-w-screen-sm px-4 sm:px-6 lg:px-8 mb-8">
  <form
    action="{{ url_for('exam.exam_') }}"
    onsubmit="return handleSubmit()"
    method="POST"
    name="exam-form"
  >
    {% for question in questions %}
    <div class="my-10">
      <p class="text-xl">
        <b>{{loop.index}}.</b>
        {{question.question}}
      </p>

      <fieldset class="space-y-4 mt-2" id="q-{{question.id}}">
        <div>
          <input
            type="radio"
            name="answer{{question.id}}"
            value="{{question.choice1}}"
            id="{{question.id}}-choice1"
            class="peer hidden"
          />

          <label
            for="{{question.id}}-choice1"
            class="flex cursor-pointer items-center justify-between rounded-lg border border-gray-300 bg-white p-4 text-sm font-medium shadow-sm hover:border-gray-500 peer-checked:border-blue-500 peer-checked:ring-1 peer-checked:ring-blue-500"
          >
            <p class="text-gray-700"><b>A)</b> {{question.choice1}}</p>
          </label>
        </div>

        <div>
          <input
            type="radio"
            name="answer{{question.id}}"
            value="{{question.choice2}}"
            id="{{question.id}}-choice2"
            class="peer hidden"
          />

          <label
            for="{{question.id}}-choice2"
            class="flex cursor-pointer items-center justify-between rounded-lg border border-gray-300 bg-white p-4 text-sm font-medium shadow-sm hover:border-gray-500 peer-checked:border-blue-500 peer-checked:ring-1 peer-checked:ring-blue-500"
          >
            <p class="text-gray-700"><b>B)</b> {{question.choice2}}</p>
          </label>
        </div>

        <div>
          <input
            type="radio"
            name="answer{{question.id}}"
            value="{{question.choice3}}"
            id="{{question.id}}-choice3"
            class="peer hidden"
          />

          <label
            for="{{question.id}}-choice3"
            class="flex cursor-pointer items-center justify-between rounded-lg border border-gray-300 bg-white p-4 text-sm font-medium shadow-sm hover:border-gray-500 peer-checked:border-blue-500 peer-checked:ring-1 peer-checked:ring-blue-500"
          >
            <p class="text-gray-700"><b>C)</b> {{question.choice3}}</p>
          </label>
        </div>

        <div>
          <input
            type="radio"
            name="answer{{question.id}}"
            value="{{question.choice4}}"
            id="{{question.id}}-choice4"
            class="peer hidden"
          />

          <label
            for="{{question.id}}-choice4"
            class="flex cursor-pointer items-center justify-between rounded-lg border border-gray-300 bg-white p-4 text-sm font-medium shadow-sm hover:border-gray-500 peer-checked:border-blue-500 peer-checked:ring-1 peer-checked:ring-blue-500"
          >
            <p class="text-gray-700"><b>D)</b> {{question.choice4}}</p>
          </label>
        </div>
      </fieldset>
    </div>
    {%endfor %}
    <div class="flex justify-between">
      <p id="error-msg" class="text-xl font-bold text-red-500"></p>
      <button
        type="submit"
        class="inline-block justify-end shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500"
      >
        Sınavı Bitir
      </button>
    </div>
  </form>
</div>

<script>
  const qIds = {{ questionIds | tojson }};
</script>

<script></script>

<script>
  function handleSubmit() {
    var return_val = true;
    qIds.forEach((id) => {
      var is_valid = false;
      document
        .getElementById("q-" + id)
        .querySelectorAll("input")
        .forEach((input) => {
          if (input.checked) {
            is_valid = true;
          }
        });

      if (!is_valid) {
        document.getElementById("error-msg").innerHTML =
          "Lütfen tüm soruları cevaplayınız.";
        return_val = false;
        return false;
      }
    });
    return return_val;
  }
</script>

{% endblock %}
