{% extends "base.html" %}

{% include "./includes/navbar.html" %}

{% block content %}

<!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->

<div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
    <div class="max-w-xs">
        <label for="HeadlineAct" class="block text-sm font-medium text-gray-900">
            Şehir Seçimi
        </label>

        <select name="HeadlineAct" id="HeadlineAct"
            class="mt-1.5 w-full h-10 p-2 cursor-pointer rounded-md border-2 border-gray-400 text-gray-700 sm:text-sm">
            <option value="1">İstanbul</option>
            <option value="2">Ankara</option>
        </select>
    </div>
    <div class="my-10 overflow-x-auto rounded-lg border border-gray-200">
        <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
            <thead class="text-left">
                <tr>
                    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                        Tarih
                    </th>
                    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                        Durum
                    </th>
                    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                        Gündüz °C
                    </th>
                    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                        Gece °C
                    </th>
            </thead>

            <tbody class="divide-y divide-gray-200">
                <tr>
                    <td class="whitespace-nowrap px-4 py-2 text-gray-700">23.08.2023 (Pazartesi)</td>
                    <td class="whitespace-nowrap px-4 py-2 text-gray-700">Parçalı Bulutlu</td>
                    <td class="whitespace-nowrap px-4 py-2 text-gray-700">23</td>
                    <td class="whitespace-nowrap px-4 py-2 text-gray-700">12</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

{% endblock %}